%h1 All words
%table.table
  %thead
    %tr
      %th
        \#
      %th
        Content
      %th
        Language
      %th
        User
      %th
        Translations Count
      %th
        Actions
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.id
        %td
          = word.content
        %td
          = word.language.name
        %td
          = word.user.secret_email
        %td
          = word.translations.size
        %td
          = link_to('Show', word_path(word), class: 'btn btn-primary')
          - if policy(word).edit?
            = link_to('Edit', edit_word_path(word), class: 'btn btn-primary')
          - if policy(word).destroy?
            = link_to('Delete',
              word_path(word),
              class: 'btn btn-primary',
              method: :delete, data: { confirm: 'Are you sure?' })
= paginate @words, theme: 'twitter-bootstrap-4'
